@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a{
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.s-flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.s-flex-col {
  display: flex;
  flex-direction: column;
}
.s-flex-auto {
  flex: 1 1 auto;
}
.s-flex-none {
  flex: none;
}
.s-flex-grow {
  flex-grow: 1;
}
.s-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.s-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.s-flex-between {
  display: flex;
  justify-content: space-between;
}

.s-table-header .el-table__cell{
  /* background-color: #f4f4f5 !important; */
  background-color: var(--el-fill-color-light) !important;
  color: #444;
  /* min-width: 100px !important; */
}
.s-table-operations{
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 10px;
  border: 1px solid var(--el-border-color-lighter);
  border-bottom: none;
  /* background-color: var(--el-table-tr-bg-color);
  border-top: var(--el-table-border); */
}
.s-table-pagination{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--el-border-color-lighter);
  border-top: none;
}

.s-number-input{
  flex: 1;
}
.s-number-input.el-input-number .el-input__inner{
  text-align: left;
}
.el-table__cell{
  .el-tooltip{
    .el-link{
      display: inline;
      .el-link__inner{
        display: inline;
      }
    }
  }
}
.el-tooltip__trigger { outline: none }
@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}

@media (min-width: 1024px) {

}

.el-table .cell .el-button+.el-button {
  margin-left: 5px;
}

.img-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.img-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.img-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  text-align: center;
}
.img-uploader .img {
  width: 120px;
  height: 120px;
  display: block;
}